body { 
    background-image: url('borboletas-butterfly\ \(2\).gif');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    font-family: Arial, sans-serif; /* Default font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

#container {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Distribute items evenly along the main axis */
    height: 100vh;
}

.animated-text {
    color: #AA336A; /* Pink text color */
    font-family: -apple-system, 'Comic Sans MS', 'Segoe UI', sans-serif; /* Playful font */
    font-size: 3em; /* Large font size */
    animation: bounceText 1s infinite alternate; /* Animation properties */
    margin-left: 0px;
    margin-top: 10px;
    padding-top: 0px;
}

@keyframes bounceText {
    0% {
        transform: translateY(0); /* Start position */
    }
    100% {
        transform: translateY(-10px); /* End position */
    }
}

.gif {
    max-width: 100%;
    height: auto;
    margin-bottom: 5%; /* Adjust margin for responsiveness */
}

#yayButton,
#noButton {
    padding: 2% 5%; /* Adjust padding for responsiveness */
    font-size: 1em; /* Adjust font size */
    background-color: #AA336A;;
    color: #FFC0CB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 2%; /* Adjust margin for responsiveness */
}

.button:hover {
    background-color: #0056b3;
}

#invitation {
    font-size: 2vw; /* Adjust font size for responsiveness */
    line-height: 1.5;
    text-align: left;
    position: absolute; /* Add relative positioning */
    left: 3px;
    top: -10px;
    z-index: 2; 
    width: 25%; 
}

#centeredText {
    /* Styles for the centered text */
    text-align: center;
    z-index: 1;
    padding-top: 10%; /* Adjust padding for responsiveness */
    position: relative;
}
